h2 User Listing, Details

p Click to load all users
input.btn.btn-inverse(type="button", ng-click="loadUsers()", value="Load!")
br
br
p(ng-show="users && users.length > 1") Filter results:&nbsp;
  input(ng-model="narrow")

ul
  li(ng-repeat="user in users | filter: narrow")
    p
      a(href="#/user/{{user.id}}") {{ user | title }}
