extends layout

block content
  h1 Welcome to Angular Espresso

  div(ng-controller='AppCtrl') Hello {{name}}
    ul.menu
      li
        a(href='#/home') home
      li
        a(href='#/filter') filter
      li
        a(href='#/socket') socket

    div(ng-view)

    div
      | Angular Espresso app: v
      span(app-version)

  script(src='/lib/socket.io.min.js')
  script(src='/js/index.js')
  script(src='/lib/angular.min.js')
  script(src='/lib/angular-resource.min.js')
  script(src='/js/angular/app.js')
  script(src='/js/angular/services.js')
  script(src='/js/angular/controllers.js')
  script(src='/js/angular/filters.js')
  script(src='/js/angular/directives.js')