extends layout

block content
  div.jumbotron

    h1 Welcome to Angular Espresso

    div.lead(ng-controller='AppCtrl') Hello, {{name}}
    span.lead Click on one of the options below to test the project
      br
      ul
        li
          a(href='#/home') User listing, details
        li
          a(href='#/socket') Socket server
      hr
      div(ng-view)

    div
      | Angular Espresso, version &nbsp;
      span(app-version)

  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
  script(src='//cdn.socket.io/socket.io-1.0.6.js')
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.js')
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-resource.min.js')
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-route.min.js')
  script(src='/angular/app.js')
  script(src='/angular/services.js')
  script(src='/angular/controllers.js')
  script(src='/angular/filters.js')
  script(src='/angular/directives.js')