extends layout

block content
  div.hero-unit

    h1 Welcome to Angular Espresso

    div(ng-controller='AppCtrl') Hello, {{name}}
    span Click on one of the options to test the project
      ul.nav.nav-pills.nav-stacked
        li
          a(href='#/home') User listing, details
        li
          a(href='#/socket') Socket server
      hr
      div(ng-view)

    div
      | Angular Espresso, version &nbsp;
      span(app-version)

  script(src='/lib/bootstrap/js/bootstrap.js')
  script(src='/lib/socket.io/socket.io.js')
  script(src='/lib/angular/angular.js')
  script(src='/lib/angular/angular-resource.js')
  script(src='/angular/app.js')
  script(src='/angular/services.js')
  script(src='/angular/controllers.js')
  script(src='/angular/filters.js')
  script(src='/angular/directives.js')