doctype html
html
  head
    meta(charset="utf-8")
    meta(name="vierport", content="width=device-width, initial-scale=1")
    title Angular Espresso
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
  body(ng-app="myApp")
    block content